<script>
	import { onMount } from "svelte";
	import Login from "./Login.svelte";	

	let monihub = null;

	onMount( ()=>{			
		monihub = sessionStorage.getItem('monihub');			
		//console.log('prueba=>'+monihub);
	});


	/*var myHeaders = new Headers();
myHeaders.append("Content-Type", "application/json");

var raw = JSON.stringify({"header":{"licenceKey":{"token":""},"guid":{"id":"1"},"messages":[]},"body":{"serviceID":{"id":"2","version":"1"},"inputParameters":[{"name":"email_login","value":"haomaro1706@gmail.com"},{"name":"password","value":"123456"}],"outputParameters":[]}});

var requestOptions = {
  method: 'POST',
  headers: myHeaders,
  body: raw,
  redirect: 'follow'
};

	let myTodo;
	onMount(async()=>{
		const response = await fetch("http://localhost/monihub/web/admin_dev.php/creditosrest/exec",requestOptions)
		const todo = await response.json();
		myTodo = todo
	});*/

	

</script>

<main>
	<!--
			<div class="col-md-6 d-none d-md-flex bg-image">
				<img src="https://electroventas.co/wp-content/uploads/2020/04/Electro_ventas_47años_baanner_2500_.jpg" width="100%" height="100%">
			</div>
		
			<div class="col-md-6 bg-light">
				<div class="login d-flex align-items-center py-5">
		
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-7 mx-auto">
								<h3 class="display-4">Iniciar sesion!</h3>
								<form>
									<div class="form-group mb-3">
										<input id="inputEmail" type="email" placeholder="Correo electronico" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
									</div>
									<div class="form-group mb-3">
										<input id="inputPassword" type="password" placeholder="Contraseña" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
									</div>
									<button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Ingresar</button>						
								</form>
							</div>
						</div>
					</div>
	
				</div>
			</div>
	
		</div>
	</div>-->
	{#if monihub == null}
	<Login/>
	{:else}
	<h1>Entro</h1>
	{/if}
</main>

<style>

</style>