<script>
    import { logueo } from './ServiceMonihub';

	var b = document.querySelector("body");
    b.setAttribute("class", "hold-transition login-page");

    let email;
    let password;
    let yes = false;
    const dataJson= {
      'body':'',
      'message':''
    };


    const sendLogin = ()=>{
      let respuesta = logueo(email,password)
      .then(
        function(value){           
          //console.log(value);
          return (value)
        },
        function(error) { console.log('Error') }
      );

      respuesta.then(val=> dataJson.body = val.body);
      respuesta.then(val=> dataJson.message = val.header.messages);
      
      console.log(dataJson);
    };
</script>

<main>
    <div class="login-box">

      <!--<div class="alert alert-danger" role="alert" hidden={!yes}>
        {mensaje}
      </div>-->
      <!--<div>
        {#await respuesta}
          <p>Loading...</p>
        {:then respuesta}
          {#each respuesta as dato}
          <p>Name is {dato.body}</p>
          {/each}
        {:catch error}
          <p style="color: red">{error.message}</p>
        {/await}
        </div>-->

        <!-- /.login-logo -->
        <div class="card card-outline card-primary">

          <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>Monihub</b>S.A.S</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">inicia sesión para empezar.</p>
      
            <form method="post" on:submit|preventDefault={sendLogin}>
              <div class="input-group mb-3">
                <input type="email" bind:value={email} class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" bind:value={password} class="form-control" placeholder="Password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <!--<div class="icheck-primary">
                    <input type="checkbox" id="remember">
                    <label for="remember">
                      Remember Me
                    </label>
                  </div>-->
                </div>
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
      
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.login-box -->
      <!-- jQuery -->
<script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js"></script>	
</main>

<style>

</style>